.blob-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(137deg, #e3f08d 9%, rgba(5,231,153,1) 100%);
}
.bug-header {
  font-weight: bold;
}
/* left */
.blb1 {
  position: absolute;
  width: 1300px;
  top: -300px;
  left:-300px;
}
/* right */
.blb2 {
  position: absolute;
  width: 800px;
  top: -100px;
  left: 400px;
}
/* bottom */
.blb3 {
  position: absolute;
  width: 700px;
  transform: rotate(80deg);
  top: 330px;
  left: 620px;
}
/* bottom right */
.blb4 {
  position: absolute;
  transform: rotate(80deg);
  width: 400px;
  top: 200px;
  left: 1000px;
}
.absolute-height {
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
}
.glass-background {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(20px);
  left: auto;
  overflow: none;
}
.glass-form {
  transform: scale(80%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -150px;
  border-radius: 35px;
  padding: 40px 100px;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.settings-input.settings-input {
  border-radius: 40px;
  margin: 8px 0;
  padding: 18px 16px;
}

.bio.bio {
  border-radius: 25px;
}

.glass-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  top: 200px;
  left: auto;
}
.support-send {
    border: none;
    border-radius: 8px;
    color: white;
    margin: 25px 5px 0;
    font-size: 12px;
    padding: 8px 25px;
    box-shadow: 0 0 5px #f0f0;
    transition: .08s filter ease;
    background-image: linear-gradient(90deg, #1AD39E, #66EDCD);
}
.support-send:hover {
  cursor: pointer;
  filter: brightness(110%);
}
