

.header {
    position: absolute;
    font-size: 36px;
    letter-spacing: .5px;
    font-weight: 700;
    top: 50px;
    left: 80px;
    color: #333333;
}
.content {
    background-color: white;
    position: relative;
    border-radius: 32px;
    min-height: 500px;
    margin: 0 70px -100px;
    padding: 46px 45px 65px;
    top: 122px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.flexCol {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    width: 300px;
    font-weight: 800;
    font-size: 20px;
    color: #333333;
    transition: color .1s ease-out ;
    cursor: pointer;
}

.name:hover {
    color: #2CD288;
    text-decoration: none;
}

#row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 50px;
    padding: 0;
    position: absolute;
    right: 30px;
    left: 30px;
}
#row::after {
    content: '';
    position: absolute;
    top: -17px;
    width: 100%;
    height: 8px;
    background-color: #D9D9D9;
}
.lastRow {
    position: absolute;
    right: 80px;
    left: 80px;
    height: 8px;
    background-color: #D9D9D9;

}
#firstBox {
    margin: 0 118px 0 0;
}
#middleBox {
    margin: 0 105px 0 0;
}

#lastBox {
    margin: 0 65px 0 0;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin: 0 150px 0 00px;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.headerSpacer {
    width: 370px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
}

.tableHeader {
    margin: 10px 0 15px;
    font-size: 12px;
}

.icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 30px;
}

.textLabel {
    margin: 5px 0 0 40px;
    font-weight:500;
    color: #333333;
}

.rightLabel {
    font-weight:200;
}


.subLabel {
    margin: 0 0 10px 40px;
    font-weight: 400;
    color: #B0B0B0;
    font-size: 12px;
}

.addNew {
    position: absolute;
    right: 80px;
    top: 60px;
    background-color: hsl(153, 65%, 50%) ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    height: 29px;
    width: 200px;
    padding: 0 18px;  
}
.addNew:hover {
    background-color: #4ab585;
}
.createBtn {
    position: absolute;
    right: 70px;
    bottom: 70px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: hsl(153, 65%, 50%) ;
    border: none;;
    border-radius: 4px;
    padding: 6px 55px;
    transition: transform .1s ease-out;
    cursor: pointer;
}

.createBtn:hover {
    transform: scale(1.04);
    filter: brightness(1.04);
}

.createBtn:focus {
    transform: scale(1.04);
    filter: brightness(1.04);
}

.container {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 300px;
    min-height: 45vh;
}


