.admin-container {
}
#admin-header {
  font-weight: bold;
  font-size: 28px;
  color: #333333;
}
.admin-wrapper.admin-wrapper.admin-wrapper {
  height: 1100px;
  overflow: none !important;
}
.admin-label {
  color: #3b3b3b;
  font-variant: small-caps;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: 70%;
  margin: 5px 0 0;
}

.admin-form {
  margin-top: 20px;
  margin-bottom: 120px;
}
.admin-input-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}
.admin-input {
  font-size: 12px;
  height: 30px;
  width: 70%;
  border-radius: 50px;
  padding: 18px 16px;
  box-sizing: border-box;
}

.admin-input:focus {
  outline: 1px solid #02EF9D;
}
.admin-input:hover {
  border: 1px solid #63686f;
}
.footer-admin {
  position: absolute;
  bottom: -200px;
}
.admin-table {

}
