.cont {
  width: 100%;
  height: 100%;
  display: flex;
}
.unauth-logo {
  position: absolute;
  z-index: 2;
  height: 50px;
  top: 30px;
  left: 65px;
}
.left {
  position: absolute;
  left: -650px;
  top: -770px;
  height: 1400px;
  width: 1400px;
  border-radius: 50%;
  background:  linear-gradient(0deg, #c446026f 100%, #c446021f 100%);
}
.left2 {
  position: absolute;
  left: -600px;
  top: -770px;
  height: 1360px;
  width: 1360px;
  border-radius: 50%;
  background:  linear-gradient(0deg, #D3744A 100%, #c446022f 100%);
}
#left-copy {
  font-family: 'Heebo', sans-serif;
  margin: 200px 65px;
  z-index: 2;
  color: white;
}
#header {
  color: white;
}
.right {
  height: 100vh;
  width: 50vw;
  background: white;
}
.unauth-home {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid white;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  transition: background .2s ease-out;
}
.unauth-home:hover {
  cursor: pointer;
  background: white;
}
.space {
  position: absolute;
  border-radius: 50%;
  left: 800px;
  top: 90px;
  height: 400px;
}
