.home-container {
  margin: 5px;
  background-color: #f5f5f5;
}

.bg-primary-light {
  background-color: #f5f5f5;
}

.btn, .collapsed {
  background-color: #f5f5f5;
}

.home-h1 {
  font-weight: bold;
  color: var(--blue);
}

.nav-drop-custom {
  padding: 14px;
  margin: 15px 25px;
  border-radius: 5px;
  text-align: center;
}
.show {
  margin-bottom: 45px;
}

.nav-item {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.c1 {
  color: #05678D;
  transition: color .3s ease-out;
}
.c2 {
  color: #027F91;
    transition: color .3s ease-out;
}
.c3 {
  color: #00A694;
    transition: color .3s ease-out;
}
.c4 {
  color: #2FB895;
    transition: color .3s ease-out;
}
.c1:hover, .c2:hover, .c3:hover, .c4:hover {
  color: #333333;
  text-decoration: none;
}
