footer {
  pointer-events: all;
  margin-top: 170px;
  position: relative;
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
}
footer::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 60px;
  left: 0;
  background: #333333;
  /* background: linear-gradient(125deg, rgba(36,85,79,1) 10%, rgb(76,209,150) 70%); */
  transform: skewY(2deg);
}
.bottom-footer {
  z-index: -2;
  position: absolute;
  transform: skewY(0deg);
  left: 0;
  width: 100%;
  height: 100px;
  background: #333333;
}
.Footer_c {
  text-transform: uppercase;
  color: white !important;
  font-size: 15px;
  margin-right: 60px;
  margin-top: 270px;
  right: 0;
  position: absolute;
  background-color: transparent;
  border: none
}
#footer-icon {
  height: 30px;
}
.footer_logo {
  position: absolute;
  top: 10px;
  left: 5%;

  text-decoration: none;
  color: white;
  margin: 15px;
  font-weight: normal;
  font-size: 18px;
}

.Footer {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: none;
  position:relative;
  height: 150px;
  width: 100vw;
}

.Footer_Nav {
  right: 0;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 170px;
  margin-right: 40px;
  margin-left: 10px;
  font-weight: normal;
}

.Footer_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 32px;
  left: 28%;
  top: 130px;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: none;
  background: white;
  font-size: 15px;
  margin-right: 30px;
  font-weight: normal;
  color: #333333;
  width: 150px;
  border: none;
  -webkit-transition: background 0.2s ease-out, color .2s ease-out;
    -moz-transition: background 0.2s ease-out, color .2s ease-out;
    -o-transition: background 0.2s ease-out, color .2s ease-out;
  transition: box-shadow .2s ease-out, background 0.2s ease-out, color .2s ease-out;

  }

.Footer_button:hover{
  background: #02EF9D;
  color: black;
  box-shadow: 0 0px 8px 1px grey;
  text-decoration: none;
}
.footercolor {
  position: relative;
  bottom:0;
}
  @media (max-width: 1337px) {
    /* .Footer {
      top: 215vh;
    } */
  }
@media only screen and (min-width: 764px) {
    .F1 {
    position: absolute;
    right: 500px;
  }
    .F2 {
    position: absolute;
    right: 300px;
  }
    .F3 {
    position: absolute;
    right: 200px;
  }
    .F4 {
    position: absolute;
    right: 75px;
  }
    .F5 {
    position: absolute;
    right: 0px;
  }
}

@media only screen and (max-width: 764px) {
  .Footer_c {
    /* position: static; */
    margin-left: -10px;
  }
  .Footer_button {
    left: 60%;
    top: 95px;
  }
  .Footer_Nav {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 140px;
  }
}
