.template-wrapper {
  height: 950px;
  overflow: hidden;
}
h1, h2, h3 {
  letter-spacing: .15rem;
  color: #1f1f1f;
  font-family: 'Heebo', sans-serif;
}
th {
}
tr:nth-child(even) {
  background: #4CD1961F;
}
#th-body {
  font-size: 12px;
  padding: 10px;
  transition: background .1s ease-out;
}
#t-body {
  transition: background .1s ease-out;
}
#t-body:hover {
  background: #4CD1964F;
}
.delete {
  margin: 5px 0 0 10px;
  font-size: 16px;
  color: #c44602;
  transition: color .2s ease-out;
}
.delete:hover {
  cursor: pointer;
  color: #7a2b00;
}
.permissions-container {
  display: flex;
  justify-content: space-evenly;
}
.permissions-header {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
}
.perm-h1{
  font-size: 28px;
  margin-left: 20px;
}
.perm-cog {
  margin-left: -90px;
  font-size: 18px;
  color: gray;
}
.perm-prof-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20%;
  margin-right: 20px;
  font-family: 'Heebo', sans-serif;
}
.Roles-button {
  font-size: 12px;
  border: none;
  background: none;
  cursor: pointer;
}
.admin-container {
  font-family: 'Heebo', sans-serif;
  margin: 20px 50px;
}
#admin-header {
  font-size: 24px;
}
.admin-tip {
  border-radius: 5px;
  background: #4CD1961F;
  padding: 2px 40px;
  margin: 0 0 40px;
}
.admin-tip2 {
  font-size: 12px;
}
.admin-tip2-active {
  color: #c44602;
  font-size: 12px;
}
.admin-table {
  text-align: left;
  margin-top: 60px;
  width: 100%;
  border-top: 1px solid black;
  border-collapse: collapse;
}
.admin-table-label {
  border-bottom: 1px  solid black;
  border-spacing: 0 1em;
  font-size: 14px;
}
.temp-tab-highlight {
  position: absolute;
  height:3.5px;
  width: 105px;
  background: #4CA196;
  top: 86px;
  margin-left: -13px;
}
.admin-tab-highlight {
  position: absolute;
  height:3.5px;
  width: 70px;
  background: #4CA196;
  top: 86px;
  margin-left: -13px;
}
.support-tab-highlight {
  position: absolute;
  height:3.5px;
  width: 95px;
  background: #4CA196;
  top: 86px;
  margin-left: -13px;
}
/* Template Tab */
.Template-container {
  font-family: 'Heebo', sans-serif;
  margin: -100px 70px;
  max-width: 100%;
}
.header-hero {
  pointer-events: none;
  position: relative;
  color: white;
  padding: 32px 70px 200px 6%;
  font-family: 'Heebo', sans-serif;
}
.header-hero::after {
  content: '';
  transform: skewY(-3deg);
  z-index: -2;
  position: absolute;
  top:-190px;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1f1f1f;
}
.admin-form {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.roof-measurement-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.form-group {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  margin: 20px 40px 20px 0;
}
input {
  accent-color: #4CA196;
  border: 1px solid lightgray;
  height: 20px;
  padding: 6px;
  border-radius: 10px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  /* min-width: 150px; */
  letter-spacing: 1px;
}
#roof_type {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 35px;
  min-width: 150px;
  font-family: 'Heebo', sans-serif;
}
.admin-submit {
  position: absolute;
  right: 0px;
  top: 295px;
  background: #4CD196;
  border: none;
  border-radius: 15px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  font-size: 13px;
  height: 33px;
  width: 120px;
  transition: background .5s ease-out, color .5s ease-out,
}
.admin-submit:hover {
  cursor: pointer;
  background: #4CA196;
  color: #1f1f1f;
}
.admin-submit:active {
  cursor: pointer;
  background: #4CA1965F;
  color: #1f1f1f;
}
.error-alert {
  background: #7a2b002f;
  border-radius: 5px;
  font-size: 13px;
  color: #1f1f1f;
  width: 40%;
  height: 30px;
  margin: -10px 0 -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media (max-width: 579px) {
  .admin-submit {
    top: 193px;
  }
} */
