h1, h2, h3 {
  letter-spacing: .15rem;
  color: black;
  font-family: 'Heebo', sans-serif;
}
.permissions-container {
  display: flex;
  justify-content: space-evenly;
}
.permissions-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid lightgray;
}
.perm-h1{
  font-size: 28px;
  margin-left: 20px;
}
.perm-cog {
  margin-left: -90px;
  font-size: 18px;
  color: gray;
}
.perm-prof-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20%;
  margin-right: 20px;
  font-family: 'Heebo', sans-serif;
}
.Roles-button {
  font-size: 12px;
  border: none;
  background: none;
  cursor: pointer;
}
.admin-table {
  margin: 30px;
  outline: 1px solid black;
}

.temp-tab-highlight {
  position: absolute;
  height:3.5px;
  width: 105px;
  background: #4CA196;
  top: 86px;
  margin-left: -13px;
}
.admin-tab-highlight {
  position: absolute;
  height:3.5px;
  width: 70px;
  background: #4CA196;
  top: 86px;
  margin-left: -13px;
}
.support-tab-highlight {
  position: absolute;
  height:3.5px;
  width: 95px;
  background: #4CA196;
  top: 86px;
  margin-left: -13px;
}
